{
  "presets": [
    "@lingui/babel-preset-react",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "macros"
  ]
}
